<%- include('header') -%>
    <div style="margin: auto; margin-right: auto; margin-top: 20em; width: 70%">
    <h2>Inviter le bot discord dans votre serveur.</h2>
    <a type="button" class="btn btn-primary" href="https://discord.com/api/oauth2/authorize?client_id=508039598597996554&permissions=8&scope=bot"><img src="/public/images/discord-icon-25.png" style="width: 30px; height: 30px; margin-right: 8px;">inviter le bot</a>
<%- include('footer') -%>