<%- include('header') -%>
    <!--content-->
    <h1>Voici ce que le bot recoit:</h1>
    <ul id="message">
      
    </ul>

    <!--script-->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
<%- include('footer') -%>